@import "styles/helpers";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  display: block;
  background: linear-gradient(37.97deg, $purple 29.64%, $violet 89.92%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 9.5rem;

  @include t {
    padding: 0 4rem;
  }

  @include m {
    padding: 0 1.25rem;
  }
}

