// media queries
@mixin w {
  @media only screen and (max-width: 1419px) {
    @content;
  }
}

@mixin x {
  @media only screen and (max-width: 1339px) {
    @content;
  }
}

@mixin d {
  @media only screen and (max-width: 1179px) {
    @content;
  }
}

@mixin t {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin m {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin a {
  @media only screen and (max-width: 639px) {
    @content;
  }
}

@mixin s {
  @media only screen and (max-width: 474px) {
    @content;
  }
}

$white: #f6eee5;
$blue: #1c49c6;
$orange: #bd4d26;

$red: #903232;

$black: #000000;

$purple: #6947e2;
$violet: #0e0628;

@mixin bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

@mixin noto-sans {
  font-family: "Noto Sans", sans-serif;
}
